.second-div{
    background-color: white;
    height: 8vh;
    width: 100%;
}

.title{
    color: #102937;
    font-weight: 500;
    padding-top: 2vh;
    padding-left: 3vh;
    float: left;
}

.brgy-footer{
    background-color: #102937;
    height: 5vh;
    width: 100%;
    padding: 5px 10px 0 0;
}
.brgy-footer-text{
    font-weight: 500;
    color: #E45B30;
    float: right;
    margin: 0;
}